{% extends "index.html" %} {% block content %}
<script src="{{ url_for('static', filename = 'index.js') }}"></script>

<script>
  let data = {{ data | tojson }};
</script>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header todayList"><span>Today</span></div>
      <div class="card-body" id="list-today"></div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header upcomingList"><span>Upcoming</span></div>
      <div class="card-body" id="list-upcoming"></div>
    </div>
  </div>
</div>
{% endblock %}
